/.venv/
/.idea/
/silero_models/
/vosk-model-small-ru/
/заметки/
/data_command.txt/
/test.py/
/example.py/
/data_command_func.py/
/old_files/
/v3_en.pt/
/v3_1_ru.pt/
/OpenAiApiKey.txt/
/vosk-model-small-ru-0.22/
/*~/
/model.pt/